/* Estilos da pagina index.html*/

.center{
    text-align: center;
}

.canto{
    text-align: center;
}

.esquerda{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#bg li{
    display: inline;
    margin: 2px;
}

#menu li{
    display: inline;
    margin: 15px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}

#menu li a:hover{
    color: cyan;
}

.p-30{
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300{
    width: 450px;
    height: 550px;

}

.tm-socialb{
width: 30px;
height: 30px;
padding: 10px;
}

.tm-socialp{
    width: 50px;
    height: 50px;
    padding: 30px;
    }
.justify{
    text-align: justify;
}



/* Estilos da pagina contato.html*/

.ml-50{
    margin-left: 50px;
}